.main-container {
  height: 100vh;
}

.bold {
  font-weight: 600;
}

/* checkbox inline */
.checkbox-inline,
.radio-inline {
  display: inline-block;
  margin-right: 6px;
  margin-bottom: 2px;
}

/* label inline */
.label-inline {
  display: inline-block;
  margin: 5px 10px 5px;
}

.lh-12 {
  line-height: 12px;
}

.label-account {
  text-transform: none;
  font-weight: 300;
}

.label-account-bold {
  font-weight: 600;
}

.hr-line {
  border: 0;
  height: 1px;
  background: rgba(230, 229, 234, 1);
  margin: 10px 0;
}
