// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #0000ff;
$secondary: #31ccec;
$tertiary: #9b51e0;
$quaternary: #003b80;
$accent: #da0d93;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #0dad2f;
$negative: #da0d93;
$info: #31ccec;
$warning: #c9ad0f;

$title-text-color: #fffffff1;
$text-color: #302f2ffb;
$input-text-color: #121212;
$text-value: #797979;
