// Quasar SCSS (& Sass) Variables
// --------------------------------------------------

$primary: #0000ff;
$secondary: #31ccec;
$tertiary: #9b51e0;
$accent: #da0d93;

$dark: #1d1d1d;
$dark-page: #121212;

$positive: #8ed1fc;
$negative: #da0d93;
$info: #31ccec;
$warning: #f2c037;

$title-text-color: #fffffff1;
$text-color: #302f2ffb;
$input-text-color: #121212;
$text-value: #003b80