.confirmation-radio {
  margin-right: 12px;
}

.confirmation-label {
  margin-top: 0;
}

.payment-amount {
  font-size: 36px;
  font-weight: 600;
  margin: 20px 0;
  line-height: 26px;
}

.open-finance-message {
  font-size: 18px;
  font-weight: 300;
  padding: 0 40px;
  line-height: 27px;
  margin-bottom: 20px;
}

.info-container {
  background-color: rgba(193, 217, 247, 1);
  margin: 30px;
  padding: 0 0 0 8px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0px 1px 0px 0px rgba(193, 217, 247, 0.48);
}

.info-icon,
.info-message {
  display: inline-block;
  background-color: rgba(234, 243, 255, 1);
  padding: 17px;
}

.info-message {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
}
